/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');


@import "tailwindcss";

:root {
  --secondary-color: #001020;
  --foreground: #ffff;
}

body {
  background: var(--secondary-color);
  color: var(--secondary-color);
  font-family: 'Roboto', Arial, Helvetica, sans-serif; /* Apply Roboto as the primary font */
}

a {
  color: var(--foreground);
  font-family: "Nanum Myeongjo", serif; 
}